.Modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100px;
    width: 100%;
    max-width: 600px;
    
    margin: auto;
}

.Background{
    background-color: #000000a8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}