:root{
  --background-color: #DDEDFF;
  --primary-default-color: #4051E6;
  --primary-dark-color: #071437;
  --cancel-color: #F50000;
}

body, html, #root{
  font-family: Roboto, Helvetica, Sans-Serif;
}

body {
  padding: 1rem 0;
  background-color: var(--background-color);
}
